<h1>All <%= current_user.university.name %> Clubs</h1>

<div class="row">
    <div class="col-md-12">
        <%= link_to 'New Club', new_club_path, :class => "btn btn-default"  %>
    </div>
</div>
<br>

<% @clubs.each do |club| %>
    <%= render "clubs/club_display", club: club %>
<% end %>
<br>


