
<br>
<br>

<h1>This is the leadership page of <%= @club.name %></h1>

<p>leader first name</p>
<p>leader last name</p>
<p>leader image</p>
<p>leader title</p>

<button class="btn btn-default">Add leader</button>