<br>
<div class="row sub_title_row">
  <h1 class="pull-left" >My Clubs</h1>
</div>
<br>
<div class="row">
  <% @clubs.each do |club| %>
    <div class="my_club_<%= club.id %>">
      <%= render "clubs/club_display", club: club %>
    </div>
  <% end %>
</div>
