
  $("#add_color_<%= @color_option.item.id %>").click(function() {
    $('#color_select_box').append($("<option class=\"color_option\">" + $('#add_color_option').val() + "</option>"));
    return false;
  });
