<div class="col-sm-4 col-md-3">
    <div class="panel panel-body user_display_panel">
      <img class="img-responsive" src="<%= user.image %>">
      <div class="caption user_caption">
        <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
      </div>
    </div>
  </div>
