
<div class="row">
  <div class="col-md-12">
    <h1>My Cart</h1>
    <%= render "items/purchase_button" %>
  </div>
</div>
<br>
<div class="row">
  <% @items.each do |item| %>
    <%= render "items/item_display", item: item, cart: @cart %>
  <% end  %>
</div>
