
<div class="row">
  <div class="col-md-12">
    <h1>My Cart</h1>
    <%= render "items/purchase_button" %>
  </div>
</div>
<br>
<div class="row">
  <% @items.each do |item| %>
    <% @selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id ) %>
    <div class="item_in_cart_<%= item.id %>">
      <%= render "items/item_display", item: item, cart: @cart %>
    </div>
  <% end  %>
</div>
