<div class="color_unselected">
  <div class="col-md-offset-4 col-md-4 ">
    <%= select_tag("color_option", options_from_collection_for_select(ColorOption.where(:item_id => @item.id), :id, :color, 0), {class: "form-control", prompt: "Select a color"}) %>
    <br>
  </div>
</div>

