<div class="row">

  <div class="col-md-4">
    <input id="add_size_option" type="text" class="form-control pull-left" />
  </div>

  <div class="col-md-4">
    <input id ="add_size_btn" class="btn btn-default pull-left" type="submit" value="Add Color" onclick="function();" />
  </div>


</div>
<br>
