<div class="color_options_display">
<div class="row">
  <div class="col-md-8">
    <input name="color_option" id="add_color_option" type="text" class="form-control pull-left" />
  </div>

  <div class="col-md-4">
    <input id ="add_color_btn" class="btn btn-default pull-left" value="Add Color" />
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <%= render "items/color_select_box" %>
  </div>
</div>


</div>

<script type="text/javascript">
  // if the add color button option is selected
  $(document).ready(function() {

    var colors = "";

    $('#my-tag-list').tags({
          tagData: $('#add_color_option').val(),
    });

    $("#add_color_option").keyup(function(event){
      if(event.keyCode == 13){
        $("#add_color_btn").click();
      }
    });

    $("#add_color_btn").click(function() {

      if ($('#add_color_option').val() == "") {

        alert("please enter a color in the text field");

      } else {

        $('.color_tags').append($("<div class=\"tag label btn-info md\"> <span class=\"color_value\"> " + $('#add_color_option').val() + "</span> <a><i class=\" remove fa fa-times remove glyphicon glyphicon-remove-sign glyphicon-white\" style=\"color:white\"></i> </a> </div>"));

        colors = colors + $('#add_color_option').val() + " ";
        $('#add_color_option').val("");

        $(".label").click(function() {
          colors = colors.replace($(this).text().trim(), "");
          $(this).remove();
        });

      }

    });

    $("#new_item").submit(function( event ) {
      console.log(colors);
      var input = $("<input>")
        .attr("type", "hidden")
        .attr("name", "colors").val(colors);
      $('#new_item').append($(input));
    });

  });

</script>
