<div id="color_select_box" id="my-tag-list" class="tag-list">
  <div class="bootstrap-tags bootstrap-3 color_tags" id="medium">

  </div>
</div>


<script type="text/javascript">

  $(".label").click(function() {
    $(this).remove();
  });

</script>
