  <div class="row">
  <div class="col-md-4 sizing_options_display">
  <select id="size_select_box" name="SelectBox" class="form-control">
    <option value="XS"> XS </option>
    <option value="S"> S </option>
    <option value="M"> M </option>
    <option value="L"> L </option>
    <option value="XL"> XL </option>
    <option value="XXL"> XXL </option>
  </select>
  </div>
</div>
<br>
