<div id="color_select_box" id="my-tag-list" class="tag-list">
  <div class="bootstrap-tags bootstrap-3 size_tags" id="medium">
      <!-- <div class="tag label btn-info md">
        <span>
          <a style="opacity: 0.8; color:white" class="remove">
            x-small
            <i class=" fa fa-times" style="color:white"></i>
          </a>
        </span>
      </div>

      <div class="tag label btn-info md">
        <span>
          <a style="opacity: 0.8; color:white" class="remove">
            small
            <i class=" fa fa-times" style="color:white"></i>
          </a>
        </span>
      </div>

      <div class="tag label btn-info md">
        <span>
          <a style="opacity: 0.8; color:white" class="remove" >
            medium
            <i class=" fa fa-times" style="color:white"></i>
          </a>
        </span>
      </div>

      <div class="tag label btn-info md">
        <span>
          <a style="opacity: 0.8; color:white" class="remove" >
            large
            <i class=" fa fa-times" style="color:white"></i>
          </a>
        </span>
      </div>

      <div class="tag label btn-info md">
        <span>
          <a style="opacity: 0.8; color:white" class="remove" >
            x-large
            <i class=" fa fa-times" style="color:white"></i>
          </a>
        </span>
      </div> -->


  </div>
</div>
