  <div class="sizing_options_display">
  <div class="row">
    <div class="col-md-8">
      <input name="size_option" id="add_size_option" type="text" class="form-control pull-left" />
    </div>

    <div class="col-md-4">
      <input id ="add_size_btn" class="btn btn-default pull-left" value="Add size" onclick="function();" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <%= render "items/size_select_box" %>
    </div>
  </div>
  <br>

  </div>

  <script type="text/javascript">
    // if the add size button option is selected
    $(document).ready(function() {

      var sizes = "";

      $("#add_size_btn").click(function() {
        $('#my-tag-list').tags({
            readOnly: true,
            tagData: $('#add_size_option').val(),
            beforeAddingTag: function(tag){ console.log(tag); }
        });

        $('.size_tags').append($("<div class=\"tag label btn-info md\"> <span> " + $('#add_size_option').val() + "<a style=\"opacity: 0.6;\" class=\"remove\"><i class=\" fa fa-times\" style=\"color:white\"></i> </a> </span> </div>"));


        sizes = sizes + $('#add_size_option').val() + " ";
        $('#add_size_option').val("");
        });

      // $(".remove").click(function() {
      //   $(this).remove();

      // });


    $("#new_item").submit(function( event ) {
        var input = $("<input>")
                       .attr("type", "hidden")
                       .attr("name", "sizes").val(sizes);
        $('#new_item').append($(input));
      });


    });

  </script>
