  <div class="sizing_options_display">
  <div class="row">
    <div class="col-md-8">
      <input name="size_option" id="add_size_option" type="text" class="form-control pull-left" />
    </div>

    <div class="col-md-4">
      <input id ="add_size_btn" class="btn btn-default pull-left" value="Add size" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <%= render "items/size_select_box" %>
    </div>
  </div>


  </div>

  <script type="text/javascript">
    // if the add size button option is selected
    $(document).ready(function() {

      var sizes = "";

      $("#add_size_option").keyup(function(event){
        if(event.keyCode == 13){
          $("#add_size_btn").click();
        }
      });

      $('#my-tag-list').tags({
            tagData: $('#add_size_option').val(),
      });

      // add a submit by enter key button
      $("#add_size_btn").click(function() {

        if ($('#add_size_option').val() == "") {

          alert("Please enter a size in the text field");

        } else {

          $('.size_tags').append($("<div class=\"tag label btn-info md\"> <span> " + $('#add_size_option').val() + "<a style=\"opacity: 0.6;\" class=\"remove\"><i class=\" fa fa-times\" style=\"color:white\"></i> </a> </span> </div>"));

          sizes = sizes + $('#add_size_option').val() + " ";
          $('#add_size_option').val("");

          $(".label").click(function() {
            sizes = sizes.replace($(this).text().trim(), "");
            $(this).remove();
          });

        }

      });

      $("#new_item").submit(function( event ) {
        var input = $("<input>")
          .attr("type", "hidden")
          .attr("name", "sizes").val(sizes);
        $('#new_item').append($(input));
      });


    });

  </script>
