<h1><%= current_user.university.name %> Items</h1>

<div class="row">
    <div class="col-md-12">
        <%= link_to 'New Item', new_item_path, :class => "btn btn-default" %>
    </div>
</div>
<br>

<% @items.each do |item| %>
    <%= render "items/item_display", item: item %>
<% end %>

<br>


