<br>
<div class="row sub_title_row">
  <div class="col-md-6">

    <h1 class="pull-left"><%= current_user.university.name %> Items</h1>
 </div>
 <div class="col-md-6">
   <%= link_to 'New Item', new_item_path, :class => "btn btn-primary home_button pull-right" %>
 </div>



</div>


<br>

<% @items.each do |item| %>
    <% selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id ) %>
    <%= render "items/item_display", item: item, selected_item: selected_item %>
<% end %>

<br>


