<br>
<h1 class="sub_title_row home_text ">My Items</h1>
<br>
<div class="row">
<div class="col-md-6 pull-left">
  <ul class="nav nav-tabs my_items_nav_bar" role="tablist">
    <li class="active nav_tab"><a data-toggle="tab" href="#items_to_pay_for">Items to Pay For</a></li>
    <li class="nav_tab"><a data-toggle="tab" role="tab" href="#purchased_items">Purchased Items</a></li>
    <li class="nav_tab"><a data-toggle="tab" role="tab" href="#items_for_sale">Items For Sale</a></li>
  </ul>
</div>
</div>


<div class = "tab-content">
    <div id="items_to_pay_for" class="tab-pane active">
      <br>
      <p class="sub_title_row">Items that are required by your clubs!</p>
      <br>
      <% @clubs.each do |club| %>
        <% club.required_items.each do |item| %>
          <% if current_user.paid_items.include?(item)  %>
<!--             <p>Looks like you don't have any items you need to purchase</p>
 -->          <% else %>
               <% selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id ) %>
               <%= render "items/item_display", item: item, cart: @cart, selected_item: selected_item %>
          <% end %>
        <% end %>
      <% end %>
    </div>


  <div id="purchased_items" class="tab-pane ">
    <br>
    <p class="sub_title_row">Items you have already purchased!</p>
    <br>
      <% @paid_items.each do |item| %>
        <% selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id ) %>
        <%= render "items/item_display", item: item, cart: @cart, selected_item: selected_item %>
      <% end %>
  </div>



    <div id="items_for_sale" class="tab-pane ">
    <br>
    <p class="sub_title_row">Items you are offering for sale!</p>
    <br>
      <% @items_for_sale.each do |item| %>
        <% selected_item = SelectedItem.find_by(:user_id => current_user.id, :item_id => item.id ) %>
        <%= render "items/item_display", item: item, cart: @cart, selected_item: selected_item %>
      <% end %>
  </div>
</div>
