.add_to_cart {
  border-radius: 15px;
}

.remove_from_cart {
  border-radius: 15px;
}


.join_button {
  border-radius: 15px;
}

.unjoin_button {
  border-radius: 15px;
}

.home_button {
  border-radius: 0px;
}

.edit_button {
  border-radius: 0px;
}

.sign_in_button {
  border-radius: 0px;
}
