.club_caption {
  padding: 10px;
}

.item_member_count {
  padding-bottom: 10px;
}

.club_display_panel {
  padding: 0px;
  padding-bottom: 10px;
  border: 1.5px solid #C2C0C0;
  border-radius: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color:#C2C0C0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  border-radius: 0px;
}

.nav>li>a:hover, .nav>li>a:focus {
  border-radius: 0px;
  border-bottom: 0px;
}

.border-right {
  border-right: 1px solid #eee;
}

.border-left {
  border-left: 1px solid #eee;
}


