
.item_display_panel {
  padding: 0px;

  border: 1.5px solid #C2C0C0;
  border-radius: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color:#C2C0C0;

  height:380px;
  width: 230px;
  position: relative;
  margin: 0;
  margin: auto;
  margin-bottom: 30px;

}

.item_caption_panel {
  padding: 10px;
  padding-top: 0px;
  position: relative;
  top: 180px;
}

.item_panel_image {
  width:100%;
  border-radius: 0px;
  max-height: 190px;
  border-bottom: 1.5px solid #C2C0C0;
  position: absolute;
}

.item_price_panel {
  border-radius: 0px;
  border: 1.5px solid #C2C0C0;
  height: 60px;
  width: 70px;
  top: 170px;
  left: 140px;
  margin-top: -25px;
  position: absolute;
}

.item_panel_hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px #C2C0C0;
}

/*SHOW PAGE*/
.item_image_show {
  padding: 0px;
  border: 1.5px solid #C2C0C0;
}

.fa-chevron-right {
  color:silver;
}

.price_show {
  font-size: 18px;
}


/*MY ITEMS*/
.my_items_nav_bar {
  padding: 10px;
}

/*.nav_tab {
  margin:0px;
  border-radius: 0px;
}

.nav {
  border-bottom: 0px;
}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border-radius: 0px;
}

.nav-tabs>li>a {
  color: #555;
}

.sub_title_row {
  padding-left: 15px;
  color: #555;
}

