.price_show {
  font-size: 18px;
}

.item_caption {
  padding: 10px;
}

.item_display_panel {
  padding: 0px;

  border: 1.5px solid #C2C0C0;
  border-radius: 0px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color:#C2C0C0;
}


/*SHOW PAGE*/

.item_image_show {
  padding: 0px;
  border: 1.5px solid #C2C0C0;
  /*border-radius: 0px;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-color:#C2C0C0;*/
}

.fa-chevron-right {
  color:silver;
}
