<h1 class="page-header text-center">Edit University</h1>

<div class="col-md-offset-3 col-md-6">
  <%= render 'form' %>
</div>

<div class="row">

<%= link_to 'Show', @university %> |
<%= link_to 'Back', universities_path %>
</div>
